<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Políticas Públicas</title>
    <%- include("partials/head")%>
    <link href= "/assets/css/background.css" rel="stylesheet">
</head>
<body>
  <div class="container pt-4 mt-5">
    <div class="row">
      <div class="col-2">
            <a href="/pages/1">
              <button class="btn btn-info btn-block"><i class="fas fa-filter"></i></i> Todas </button>
            </a>
      </div>
      <div class="col-2">
          <a href="/filtro/Rota">
            <button class="btn btn-info btn-block"><i class="fas fa-filter"></i></i> Rotas</button>
          </a>
      </div>
      <div class="col-2">
          <a href="/filtro/SinIniciar">
            <button class="btn btn-info btn-block"><i class="fas fa-filter"></i></i> Sin Iniciar</button>
          </a>
      </div>
      <div class="col-2">
          <a href="/filtro/EnProceso">
            <button class="btn btn-info btn-block"><i class="fas fa-filter"></i></i> En Proceso</button>
          </a>
      </div>
      <div class="col-2">
          <a href="/filtro/Cumplida">
            <button class="btn btn-info btn-block"><i class="fas fa-filter"></i></i> Cumplidas</button>
          </a>
      </div>
      </div>
    </div>
  </div>
    <div class="container p-4 mt-5">
        <div class="row">
            <div class="card-columns">
                <%images.map(function(image){%>
                  <a href="/image/<%= image._id %>">
                    <div class="card animated bounceInLeft">
                        <img src="<%= image.path %>" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title text-center font-weight-bold"><%= image.title %></h3>
                            <!--<p class="card-text"><%= format(image.created_at) %></p>-->
                            <h5 class="card-text"><%= image.status %></h5>
                            <div class="card-footer bg-transparent mt-2">
                                <a href="/edit/<%= image._id %>" class="btn btn-info"><i class="fas fa-pen"></i> Editar</a>
                            </div>
                        </div>
                    </div>
                  </a>
                <% })%>
            </div>
        </div>
    </div>