<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Políticas Públicas</title>
    <%- include("partials/head")%>
    <link href= "/assets/css/background.css" rel="stylesheet">
</head>
<body>
  <div class="container pt-4 mt-5">
    <div class="row">
      <div class="col-2">
            <a href="/pages/1">
              <button class="btn btn-info btn-block"><i class="fas fa-filter"></i></i> Todas </button>
            </a>
      </div>
      <div class="col-2">
          <a href="/filtro/Rota">
            <button class="btn btn-info btn-block"><i class="fas fa-filter"></i></i> Rotas</button>
          </a>
      </div>
      <div class="col-2">
          <a href="/filtro/SinIniciar">
            <button class="btn btn-info btn-block"><i class="fas fa-filter"></i></i> Sin Iniciar</button>
          </a>
      </div>
      <div class="col-2">
          <a href="/filtro/EnProceso">
            <button class="btn btn-info btn-block"><i class="fas fa-filter"></i></i> En Proceso</button>
          </a>
      </div>
      <div class="col-2">
          <a href="/filtro/Cumplida">
            <button class="btn btn-info btn-block"><i class="fas fa-filter"></i></i> Cumplidas</button>
          </a>
      </div>
      </div>
    </div>
  </div>
    <div class="container p-4 mt-5">
        <div class="row">
            <div class="card-columns">
                <%images.map(function(image){%>
                  <a href="/image/<%= image._id %>">
                    <div class="card animated bounceInLeft">
                        <img src="<%= image.path %>" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title text-center font-weight-bold"><%= image.title %></h3>
                            <% if(image.status === 'Sin iniciar'){%>
                              <h5 class="card-text text-center status" style="background-color: #e8e8e8"><%= image.status %></h5>
                            <%} else if(image.status === 'Rota'){%>
                              <h5 class="card-text text-center status" style="background-color: #ff7777"><%= image.status %></h5>
                            <%} else if(image.status === 'En proceso'){%>
                              <h5 class="card-text text-center status" style="background-color: #f9fa9b"><%= image.status %></h5>
                            <%} else if(image.status === 'Cumplida'){%>
                              <h5 class="card-text text-center status" style="background-color: #a8e6cf"><%= image.status %></h5>
                            <%}%>
                            <!-- <h5 class="card-text"><%= image.status %></h5> -->
                            <div class="card-footer bg-transparent mt-2">
                                <a href="/edit/<%= image._id %>" class="btn btn-info"><i class="fas fa-pen"></i> Editar</a>
                            </div>
                        </div>
                    </div>
                  </a>
                <% })%>
            </div>
        </div>
    </div>
    
    <div class="row">
        <!-- pagination -->
        <% if(pages > 0) { %> <!-- show pagination if there is pages -->
          <nav class="mx-auto">
            <ul class="pagination">
              <!-- FIRST ITEM -->
              <% if(current == 1) { %>
                <li class="page-item disabled">
                  <a class="page-link" href="#">Inicio</a>
                </li>
              <% } else { %>
                <li class="page-item">
                  <a class="page-link" href="/pages/1">Inicio</a>
                </li>
              <% } %>
              <!-- ITEMS  -->
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if(i !== 1) { %>
                <li class="page-item disabled">
                  <a class="page-link" href="#">...</a>
                </li>
              <% } %>
              <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if(i == current) { %>
                  <li class="page-item active">
                    <a class="page-link" href="<%= i %>">
                      <%= i %>
                    </a>
                  </li>
                <% } else { %>
                  <li class="page-item">
                    <a class="page-link" href="/pages/<%= i %>">
                      <%= i %>
                    </a>
                  </li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                   <li class="page-item disabled">
                     <a class="page-link" href="#">...</a>
                   </li>
                <% } %>
              <% } %>
              <!-- LAST ITEM -->
              <% if(current == pages) { %>
                <li class="page-item disabled">
                  <a class="page-link" href="#">
                    Fin
                  </a>
                </li>
              <% } else { %>
                <li class="page-item">
                  <a class="page-link" href="/pages/<%= pages %>">
                    Fin
                  </a>
                </li>
              <% } %>
            </ul>
          </nav>
        <% } %>
      </div>
    </div>
</body>
</html>